.App {
  text-align: center;
  background-color: rgb(46, 46, 14);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.hh {
  text-align: center;
  font-size: large;
}
.catg {
  color: rgb(20, 18, 18);
  background-color: rgb(155, 147, 137);
  text-align: center;
}
.btn {
  color: rgb(68, 110, 70);
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
